// Configs and data

params {

  // File locations
  celesta_prior_matrix = "${projectDir}/celesta_prior_matrix.csv"
  input_dir = "${projectDir}/data"
  data_pattern = "${input_dir}/*.[tc]sv"
  output_dir = "${projectDir}"
  
  // Run options
  qc_only = false
  run_scimap = true
  run_celesta = true
  run_seurat = true
  export_intermediates = false
  
  // QC parameters
  sigsum_quantile_high = 0.99
  sigsum_quantile_low = 0.05
  bin_size = 50
  density_cutoff = 5
  
  // Clustering parameters
  cluster_metric = "Median"
  clustering_res = "NA"
  min_clusters = 6
  min_res = 0.1
  max_res = 1.9
  res_step = 0.2
  scimap_resolution = 0.5
  
  // Metaclustering parameters
  min_metaclusters = 5
  max_metaclusters = 10
  
  // Markers for clustering
  markers = "CD11b,CD11c,CD15,CD206/MMR,CD20,CD3,CD45,CD4,CD68,CD8a,FOXP3,MPO,pS6"
}

profiles {
  standard {
    process.container = 'us-central1-docker.pkg.dev/MY_GCP_PROJECT/images/spaflow:latest'
  }

  docker {
    // If your container is remote:
    // process.container = 'us-central1-docker.pkg.dev/MY_GCP_PROJECT/images/spaflow:latest'
    // Otherwise for a local container:
    process.container = 'spaflow:latest'
    docker.enabled = true
  }

  gcb {
      process.executor = 'google-batch'
      process.container = 'us-central1-docker.pkg.dev/MY_GCP_PROJECT/images/spaflow:latest'
      process.label = 'spaflow'
      process.maxRetries = 3

      // This can be any directory you want
      workDir = 'gs://MY_GCP_BUCKET/spaflow-workdir'

      google.region  = 'us-central1'
      google.project = 'MY_GCP_PROJECT'
      google.batch.spot = true
      google.batch.logsPolicy.destination = "CLOUD_LOGGING"
      google.machineType = 'n2-standard-8'
  }
}
