manifest {
  description = 'POC of a spaFlow pipeline implemented with Nextflow and run on Google Batch' 
  author = 'Lynn Langit'
  nextflowVersion = '>=23.04.0'
}
 
params.outdir = "${projectDir}"
 
profiles {
  standard {
    process.container = 'us-central1-docker.pkg.dev/<YOUR_GCP_PROJECT>/images/spaflow:latest'
  }

  docker {
    process.container = 'us-central1-docker.pkg.dev/<YOUR_GCP_PROJECT>/images/spaflow:latest'
    docker.enabled = true
  }

  gcb {
      params.input_dir = "${projectDir}/data"
      params.data_pattern = "${params.input_dir}/*.[tc]sv"

      process.executor = 'google-batch'
      process.container = 'us-central1-docker.pkg.dev/<YOUR_GCP_PROJECT>/images/spaflow:latest'
      process.label = 'spaflowlangit'
      process.maxRetries = 3

      workDir = 'gs://<YOUR_GCP_BUCKET>/nf-spaflow-spot-results/bucket-results' 

      google.region  = 'us-central1'
      google.project = '<YOUR_GCP_PROJECT>'
      google.batch.spot = true
  }

  'gs-data' {
      process.container = 'us-central1-docker.pkg.dev/<YOUR_GCP_PROJECT>/images/spaflow:latest'
  }
}
